*.info
*.log
Swarm/Library/metadata/
Swarm/Temp/
Swarm/Library/ShaderCache/
Swarm/Library/ScriptAssemblies/Assembly-CSharp.dll
Swarm/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Swarm/Library/assetDatabase3
Swarm/Swarm.userprefs
Swarm/Library/CurrentLayout.dwlt
Swarm/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
Swarm/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
Swarm/obj/Debug/Assembly-CSharp.dll
Swarm/obj/Debug/Assembly-CSharp.pdb
